@import "vars";
@import "global";
@import "fonts";

// start-header
.header__top {
  background-color: #fff;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
.header__btn-login {
  background-color: $green;
}
.header__btn-register,
.header__btn-logout {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}
.menu {
  display: flex;
  align-items: center;
  height: 60px;
}
.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: #fff;
    font-size: 14px;
  }
}
.header__circle {
  &.active {
    display: block;
  }
  display: none;
  width: 34px;
  height: 34px;
  background-color: #f5f5f5;
  border-radius: 50%;
  position: relative;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a0a0a0;
    font-size: 14px;
  }
  span {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    right: -7px;
    top: -7px;
    font-size: 11px;
    color: #fff;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.notification {
  span {
    background-color: $yellow;
  }
}
.message {
  span {
    background-color: $tomato;
  }
}
.basket {
  margin-right: 20px;
  span {
    background-color: $green;
  }
}
.header__btn-login--off {
  display: none;
}
.header__btn-logout {
  display: none;
  &.header__btn-login--on {
    display: block;
  }
}

.user {
  margin-right: 20px;
  padding-right: 20px;
  position: relative;
  &::before {
    content: "\f107";
    font-family: "icomoon";
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #707070;
  }
  &__inner {
    display: flex;
    align-items: center;
  }
  &__images {
    margin-right: 15px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
  }
  &__info {
    font-size: 14px;
    line-height: 24px;
  }
  &__name {
    @include f500;
    color: #222;
  }
  &__maney {
    color: $green;
    @include f700;
  }
}
.user__menu {
  top: 40px;
  left: 20px;
  position: absolute;
  width: 158px;
  transition: all 0.3s;
  overflow: hidden;
  height: 0;
  ul {
    background-color: #fff;
    border: 0px solid rgb(204, 204, 204);
  }
  a {
    font-size: 12px;
    color: #546e7a;
    margin-bottom: 15px;
  }
}

.user__box {
  position: relative;
  height: 60px;
  margin-top: 10px;
  &:hover {
    .user__menu {
      height: auto;
      overflow: auto;
      padding-top: 30px;
      z-index: 5;
      ul {
        border-width: 1px;
        padding: 20px;
      }
    }
  }
}

.circle__menu {
  position: absolute;
  top: 27px;
  right: 0;
  height: 0;
  overflow: hidden;
  transition: all, 0.7s;
  z-index: 1;
}

.basket__box,
.notification__box,
.message__box {
  position: relative;
  margin-left: 15px;
  &:hover {
    .header__circle::before {
      color: $bg;
    }
    .circle__menu {
      padding-top: 35px;
      height: auto;
      overflow: hidden;
      border-width: 1px;
    }
    .circle__item {
      padding: 23px;
      border-width: 1px;
    }
  }
}
.circle__item {
  border: 0px solid #e0e0e0;
  border-bottom: 1px solid #fff;
  background-color: #fff;
  padding: 0 23px;
  display: flex;
  align-items: center;
  width: 269px;
  transition: all, 0.3s;
  position: relative;
  &::before {
    position: absolute;
    top: 27px;
    right: 28px;
    color: #b0bec5;
    font-size: 16px;
  }
}
.circle__images {
  margin-right: 15px;
}
.circle__info {
  &-name {
    @include f500;
    color: $bg;
  }
  &-thema {
    font-size: 12px;
    color: $green;
  }
  &-price {
    @include f500;
    color: #000;
    font-size: 16px;
  }
  &-date {
    color: #707070;
    font-size: 10px;
  }
}
.basket__summ {
  padding: 16px 17px 12px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.basket__title {
  display: flex;
  justify-content: space-between;
  padding-left: 13px;
  padding-right: 22px;
  margin-bottom: 15px;
  @include f700;
  font-size: 16px;
  color: $bg;
}
.basket__btn {
  @include f700;
  color: #fff;
  font-size: 14px;
  padding: 12px 5px;
  background-color: $green;
  text-align: center;
  width: 100px;
}
.basket__btn-checkout {
  width: 120px;
  margin-left: 6px;
  background-color: $red;
}
.notification__menu,
.message__menu {
  .circle__images {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
  .circle__info {
    line-height: 18px;
  }
}
.icons-color {
  color: $tomato;
}

.menu__btn,
.header__btn-menu {
  display: none;
}
// end-header
// start-search
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}
.search__inner {
  padding: 155px 0 100px;
  color: #fff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 72px;
    @include f700;
  }
  &-text {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 30px;
    @include f500;
  }
  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;
    input {
      display: block;
      width: 100%;
      border-radius: 4px;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      height: 56px;
      border: none;
      font-size: 14px;
      @include f500;
      padding-left: 25px;
      padding-right: 60px;
      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}
// end-search
// start-products
.products {
  padding: 110px 0;
  background-color: $grey;
}
.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    display: block;
    color: $bg;
    @include f500;
    font-size: 18px;
  }
  &-text,
  &-list {
    display: none;
  }
  &-category {
    display: block;
    font-size: 14px;
    color: $green;
  }
  &-price {
    font-size: 20px;
    color: $bg;
    @include f700;
    span {
      display: none;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-autor {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
    }
    span {
      font-size: 14px;
      @include f500;
    }
  }
  &-star {
    span {
      font-size: 12px;
      color: $bg;
    }
  }
}

.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    background-color: #fff;
    color: $bg;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: #fff;
      outline: none;
    }
  }
}
// end-products
// start-product-slider
.product-slider {
  padding: 110px 0 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin-left: 3px;
      margin-right: 3px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
    }
    button {
      border-radius: 50%;
      background-color: rgb(232, 232, 232);
      border: none;
      font-size: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
      outline: none;
    }
  }
}
// end-product-slider

// star-advantages
.advantages {
  background-color: $bg;
  padding: 110px 0;
}
.advantages__title {
  color: #fff;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0 15px;
  &:hover {
    .advantages__item-images {
      background-color: $green;
      g {
        fill: #fff;
      }
    }
    .advantages__item-title {
      color: $green;
    }
  }
  &-images {
    width: 114px;
    height: 114px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
    g {
      transition: all 0.5s;
    }
  }
  &-title {
    color: #fff;
    margin-bottom: 25px;
    font-size: 24px;
    @include f500;
    transition: all 0.5s;
  }
}
.icosvg-1 {
  svg {
    width: 50px;
  }
}
.icosvg-2 {
  svg {
    width: 70px;
  }
}
.icosvg-3 {
  svg {
    width: 86px;
  }
}
// end-advantages

// start-author
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
  }
  &__title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-right: 45px;
    max-width: 300px;
    span {
      @include f700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: #fff;
  }
}
// end-author
// start-tutorial
.tutorial {
  padding: 70px 0 120px;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item {
  &-images {
    min-height: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &-title {
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $bg;
  }
}
// end-tutorial
// start-footer
.footer {
  background-color: $bg;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 80px;
  }
  &__copy {
    border-top: 1px solid #919699;
  }
}
.footer__copy-text {
  text-align: center;
  color: #919699;
  padding: 25px 0;
}

.footer__col {
  max-width: 270px;
  width: 100%;
  &-menu {
    max-width: 220px;
  }
  &-title {
    font-size: 22px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 2px;
      width: 51px;
      height: 3px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}

.footer__info {
  margin-top: 18px;
  @include f500;
  color: #fff;
  padding-left: 30px;
  position: relative;
  &::before {
    content: "\F041";
    font-family: "icomoon";
    position: absolute;
    color: $green;
    font-size: 18px;
    left: 0;
  }
  &-phone {
    &::before {
      content: "\F095";
    }
  }
}

.footer__col-list {
  a {
    margin-bottom: 13px;
    padding-left: 22px;
    color: #b7c3c8;
    &::before {
      font-size: 18px;
    }
  }
}
.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    width: 28px;
    height: 28px;
    background-image: url(../images/icons/css_sprites.png);
  }
}
.link-facebook {
  background-position: -31px -31px;
}
.link-twitter {
  background-position: -31px -1px;
}
.link-youtube {
  background-position: -1px -1px;
}
.link-pinterest {
  background-position: -61px -1px;
}
.link-linled {
  background-position: -1px -31px;
}

.footer__form {
  position: relative;
  input {
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    color: #fff;
    font-size: 14px;
    padding-left: 13px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    border: none;
    height: 40px;
    width: 43px;
    cursor: pointer;
    &::before {
      content: "\f124";
      font-family: "icomoon";
      position: absolute;
      font-size: 20px;
      color: #fff;
      top: 11px;
      left: 13px;
    }
  }
}
.footer__form-title {
  margin-bottom: 15px;
  color: #fff;
  font-size: 20px;
}
// end-footer

// start-product-page
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}
// start-product-page__aside
.product-page__aside {
  margin-right: 30px;

  .product__item {
    box-shadow: none;
  }
  .product__item-img {
    min-height: 120px;
  }
  .product__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .product__item-info {
    padding: 0;
    min-height: 0;
  }
  .product__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0;
  }
  .jq-ry-container {
    padding: 0;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-price {
    font-size: 16px;
  }

  .product__item-autor {
    .avatar {
      margin-right: 9px;
    }
  }

  .product__item {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ded3e8;
  }
}
.aside__product-item {
  .product__item:last-child {
    border: none;
    padding-bottom: 0;
  }
  .product__item:first-child {
    margin-top: 25px;
  }
}
.top-sellers_link {
  padding: 16px 10px;
  display: block;
  background-color: $green;
  color: #fff;
  @include f500;
  text-align: center;
}
.aside__item {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title {
  border-bottom: 1px solid #ded3e8;
  font-size: 20px;
  color: $bg;
  padding: 22px 0 19px;
  @include f700;
}

.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before {
      content: "\f105";
      font-family: "icomoon";
      position: absolute;
      left: 0;
      font-size: 18px;
      color: $green;
    }
  }
  a {
    color: $bg;
  }
  span {
    margin-left: 10px;
    color: #90a4ae;
  }
}
.price-range {
  form {
    padding: 20px 0 25px;
  }
  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    color: #fff;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    &::before {
      content: "\f002";
      font-family: "icomoon";
      position: absolute;
      left: 58px;
      top: 15px;
      font-size: 15px;
      color: #fff;
    }
  }
}
.irs-min,
.irs-max {
  display: none;
}
.irs--flat .irs-line,
.irs--flat .irs-bar {
  height: 5px;
}
.irs--flat .irs-line {
  background-color: #f2f5f8;
}
.irs--flat .irs-bar {
  background-color: $bg;
}
.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  border: 4px solid $green;
  background-color: #fff;
  border-radius: 50%;
}
.irs-from,
.irs-single,
.irs-to {
  top: 45px;
}
.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  text-shadow: none;
  padding: 0;
  background-color: transparent;
  border-radius: 0px;
}
.irs--flat .irs-handle {
  top: 19px;
}
// end-product-page__aside

// start-product-page__content
.product-page__content {
  width: 100%;
  .product__item {
    max-width: 270px;
    background: #fff;
  }
  .product__item-img {
    min-height: 180px;
  }
  .product__item-content {
    padding: 10px 20px;
  }
  .product__item-title {
    font-size: 16px;
  }
  .product__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }
  .jq-ry-container {
    padding: 0;
  }
  .rate-star {
    margin-right: 5px;
  }
  .product__item-starnum {
    font-size: 12px;
    color: #b0bec5;
    span {
      color: $bg;
    }
  }
}
.product__item {
  transition: all, 0.5s;
  .product__item-starnum {
    font-size: 12px;
    color: #b0bec5;
    span {
      color: $bg;
    }
  }
  &.list {
    max-width: 100%;
    .product__item-img {
      width: 240px;
      float: left;
      min-height: 100%;
    }
    .product__item-name {
      max-width: 480px;
    }
    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .product__item-price {
      font-size: 30px;
      span {
        display: block;
        font-size: 13px;
        color: #aeb4bb;
        margin-top: 30px;
      }
    }
    .product__item-content {
      padding-top: 23px;
    }
    .product__item-list {
      display: block;
    }
    .product__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
  .icon-comment-o,
  .icon-heart-o {
    display: inline-block;
    padding-left: 50px;
    padding-right: 30px;
    border-left: 1px solid #aeb4bb;
    position: relative;
    &::before {
      color: $green;
      font-size: 16px;
      position: absolute;
      left: 20px;
    }
  }
  .icon-comment-o {
    padding-right: 30px;
  }
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.product-page__filter {
  background-color: #fff;
  border: 1px solid #dedede;
  padding: 0 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    outline: none;
    &.active {
      color: #8bc34a;
    }
  }
  &-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}
button.icon-sort-amount-desc {
  font-size: 14px;
  color: #455a64;
}
button.icon-unsorted {
  font-size: 18px;
}

.pagination__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
  }
  a,
  span {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 16px;
    color: $bg;
    @include f500;
    &.active {
      background-color: $red;
      color: #fff;
    }
  }
}
// end-product-page__content
// end-product-page

// start-product-one
.product-one {
  padding-bottom: 100px;
  background-color: $grey;
}
.product-one__inner {
  display: flex;
}
.product-one__contant {
  margin-right: 31px;
  max-width: 870px;
}
.product-one__images-inner {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
}
.product-one__images {
  max-width: 829px;
  height: 422px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.product-one__title {
  font-size: 30px;
  color: $bg;
  line-height: 40px;
  @include f500;
  margin-top: 30px;
  margin-bottom: 20px;
}
.product-one_text {
  font-size: 16px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 35px;
}
.product-one__box {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.product-one__link {
  a {
    padding: 16px 8px;
    width: 150px;
    color: $grey;
    font-size: 14px;
    & + a {
      margin-left: 20px;
    }
  }
}
.link-live {
  background-color: $red;
}
.link-screenshots {
  background-color: #455a64;
}
.link-documetation {
  background-color: $green;
}
.product-one__social {
  a {
    width: 54px;
    height: 50px;
    position: relative;
    & + a {
      margin-right: 3px;
    }
    &::before {
      font-size: 18px;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.icon-facebook {
  background-color: #6370b6;
}
.icon-twitter {
  background-color: #64b5f6;
}
.icon-linkedin {
  background-color: #4f71ce;
}
.icon-pinterest-p {
  background-color: #d32f2f;
}
.product-one__tabs {
  margin-bottom: 55px;
}
.tabs {
  display: flex;
  text-align: center;
  border: 1px solid #d7d7d7;
  .tab {
    width: 100%;
    background-color: #fff;
    font-size: 16px;
    color: #70838d;
    padding: 20px 0;
    cursor: pointer;
    & + .tab {
      border-left: 1px solid #d7d7d7;
    }
  }
}

.tab_content {
  background-color: #fff;
  border: 1px solid #d7d7d7;
  border-top: none;
  padding: 30px 30px 50px;
}
.tab-item {
  display: none;
  &:first-child {
    display: block;
  }
}
.tab-items__list {
  line-height: 36px;
  font-size: 16px;
  color: #707070;
  column-count: 2;
  column-gap: 25px;
  li {
    width: 100%;
    max-width: 270px;
  }
}
.product-one__more-title {
  font-size: 18px;
  @include f500;
  color: $bg;
  padding: 15px 25px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  margin-bottom: 28px;
}
.product-one__more-icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productmini {
  margin-bottom: 27px;
  max-width: 270px;
  width: 100%;
  background-color: #fff;
  display: flex;
  height: 90px;
  align-items: center;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}
.productmini__images {
  width: 100px;
  height: 90px;
  margin-right: 20px;
  background: no-repeat;
  background-size: cover;
  background-position: center;
}
.productmini__name {
  @include f500;
  font-size: 14px;
  color: $bg;
}
.productmini__thema {
  color: $green;
  font-size: 12px;
}
.productmini__price {
  @include f700;
  font-size: 18px;
  color: $bg;
}
.product-one__aside {
}
// end-product-one

//adaptiv
@import "media";
